<footer class="page-footer grey darken-4">
  <div class="container center-align">
    <p class="grey-text text-lighten-2">
      © <%= new Date().getFullYear() %> SmartMedicare
    </p>
    <p class="grey-text text-lighten-1">
      Designed & Developed by
      <strong>Om Satish Taywade</strong>
    </p>
  </div>
</footer>
